/*
  Title: about.component.scss
  Author: Zadkiel Rodriguez Alvarado
  Date: 5/11/2024
  Description: About component styling
*/
.main-container {
  padding-top: 25px;
  width: 80%;
  margin: 0 auto;
}

.about-right {
  padding: 20px;
  line-height: 2;
}
